body {
  font-family: 'Ubuntu', sans-serif;
  
}

.title {
  #background-color: #21AFEC;
  padding: 5px;
  border: 25px;
  font-family: 'Fredoka One', cursive;
}

.About{
  #background-color: #28D9DF;
  padding: 5px;
  border: 25px;
}

